.container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-gray-border);
    padding: 5px 10px;
    gap: 10px;
    min-height: var(--status-bar-height);
}

.title {
    font-size: 1.125rem;
    font-weight: bold;
}

.test_type_results {
    grid-area: test_type_results;
}

.test_summary_results {
    grid-area: test_summary_results;
}

.default_result_icon {
    color: var(--light-blue);
}

.status_and_control {
    grid-area: status_and_control;
    justify-content: flex-end;
    flex-grow: 1;
}

@media (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, calc(50%));
        grid-template-areas:
            'title status_and_control'
            'test_type_results test_summary_results';
    }

    .test_summary_results {
        justify-content: flex-end;
    }
}

.fa_check {
    color: var(--success-green);
}

.fa_times {
    color: var(--failed-red);
}

.fa_circle_notch {
    color: var(--light-blue);
}
