.container {
    background-color: var(--secondary-dark-color);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container .button {
    background-color: var(--main-dark-color);
    border-radius: 15px;
    font-size: 16px;
}

.container .button.selected {
    background-color: #80ecfe;
    color: var(--main-dark-color);
}
