.container {
    width: 100%;
    height: var(--progress-bar-height);
}

.track {
    height: 100%;
    transition: width 1s ease-in-out;
}

.theme_default {
    background-color: #ccc;
}

.theme_default .track {
    background-color: var(--progress-bar-default);
}
