.container {
    margin-top: 10px;
}

.meta {
    padding: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.tests_count {
    flex-grow: 1;
}

.suites {
    padding: 0;
    margin: 0;
}