.suites-root-container {
    margin-top: 10px;
}

.suites-root-container > .meta {
    padding: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.suites-root-container > .meta .tests-amount {
    flex-grow: 1;
}

.suites {
    padding: 0;
    margin: 0;
}