.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title_bar {
    border-bottom: 1px solid var(--light-gray-border);
}

.meta {
    padding: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.filename {
    flex-grow: 1;
}

.suites {
    overflow: auto;
}

.container.has_completed {
    height: auto;
}
