.suite > .title-bar {
    background-color: var(--light-gray);
    color: var(--main-dark-color);
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.suite.root > .title-bar {
    border-bottom: 1px solid var(--main-dark-color);
}

.suite > .title-bar .meta {
    background-color: var(--main-dark-color);
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
}

.suite > .tests {
    padding: 5px;
}