.suite {
    list-style-type: none;
}

.suite.root .tests {
    display: none;
}

.suite > .title {
    background-color: var(--light-gray);
    color: var(--main-dark-color);
    padding: 5px;
    font-weight: bold;
}

.suite.root > .title {
    border-bottom: 1px solid var(--main-dark-color);
}

.suite > .tests {
    padding: 5px;
}