.container {
    display: flex;
    flex-direction: column;
}

.container:is(:not(:last-child), :only-child:not([data-is-collapsed='false'])) {
    border-bottom: 1px solid var(--light-gray-border);
}

.title_bar {
    height: 40px;
}

.meta {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding-right: 5px;
}

.filename {
    flex-grow: 1;
}

.suites {
    overflow: auto;
}
