.title_bar {
    background-color: var(--light-gray);
    color: var(--main-dark-color);
    padding: 5px;
    font-weight: bold;
    display: flex;
}

.title {
    display: flex;
    justify-content: space-between;
}

.container:not(:last-child) .title_bar {
    border-bottom: 1px solid var(--secondary-dark-color);
}

.meta {
    background-color: var(--secondary-dark-color);
    color: #fff;
}

.passed {
    color: var(--success-green);
}

.failed {
    color: var(--failed-red);
}
