.container {
    display: flex;
    gap: 5px;
    padding: 4px;
}

.title_bar {
    padding: 2px;
    border-left: 2px solid transparent;
    border-bottom: 1px solid var(--light-gray-border);
}

.title_bar:hover,
[data-is-collapsed='false'] > .title_bar {
    border-left-color: var(--light-gray);
}

.content {
    border-left: 2px solid var(--light-gray);
}

.current {
    color: var(--success-green);
}

.status {
    width: 16px;
    min-width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passed {
    font-size: 13px;
    color: var(--success-green);
}

.failed {
    color: var(--failed-red);
}
