.container {
    display: flex;
    gap: 5px;
    padding: 4px;
}

.current {
    color: var(--success-green);
}

.status {
    width: 16px;
    min-width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passed {
    font-size: 13px;
    color: var(--success-green);
}

.failed {
    color: var(--failed-red);
}