.container {
    background: inherit;
    color: inherit;
    font: inherit;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.container[data-has-value='true'] {
    padding: 2px 15px;
}

.container[disabled] {
    cursor: default;
    color: var(--light-gray);
}
