.content {
    padding: 20px;
    display: flex;
    gap: 25px;
    height: calc(100vh - var(--progress-bar-height) - var(--status-bar-height));
}

.section {
    width: 100%;
    background-color: var(--secondary-dark-color);
}

.current_spec {
}

.completed_specs {
    overflow: auto;
}
