body {
  background-color: #282c34;
  color: white;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.runner-status {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.runner-status.running {
  background-color: #88ea88;
  animation: status-fade 2s infinite;
}

.runner-status.stopped {
  background-color: #ea88a6;
  animation: none;
}

@keyframes status-fade {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}