:root {
  --main-dark-color: #282c34;
  --success-green: #88ea88;
  --failed-red: #ea88a6;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-dark-color);
  color: white;
}

.hidden {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

@keyframes status-fade {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}