.container {
    display: grid;
    min-height: 100vh;
    height: -webkit-fill-available;
    height: stretch;
    grid-template-rows: auto 1fr;
}
.content {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
}

.section {
    width: 100%;
    padding: 5px;
    background-color: var(--secondary-dark-color);
    box-shadow: var(--box-shadow);
}

.tab_navigator {
    height: 100%;
    box-shadow: var(--box-shadow);
}

.modal {
    max-width: 1000px;
    border: 2px solid var(--main-dark-color);
}

.completed_specs {
    overflow: auto;
}
