:root {
    --main-font-color: #dadbdc;
    --main-dark-color: #282c34;
    --secondary-dark-color: #3e4451;
    --success-green: #88ea88;
    --failed-red: #ea88a6;
    --progress-bar-default: #7ac082;
    --progress-bar-height: 5px;
    --status-bar-height: 40px;
    --light-gray: #ccc;
    --light-gray-border: #858080;
    --active-tab-indicator-color: #f9d3fd;
    --light-blue: #a2f2ff;
    --button-focus-color: #c0f6ff;
    --disabled-gray: #a5a5a5;
    --disabled-gray-lighter: #a5a5a596;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.ttf');
}

html {
    font-size: 18px;
}

html,
body,
#root {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

body {
    background-color: var(--main-dark-color);
    color: var(--main-font-color);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.hidden {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.badge {
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
}
