:root {
    --main-dark-color: #282c34;
    --success-green: #88ea88;
    --failed-red: #ea88a6;
    --progress-bar-default: #7ac082;
    --light-gray: #ccc;
    --light-gray-border: #858080;
    --progress-bar-height: 5px;
    --status-bar-height: 40px;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    background-color: var(--main-dark-color);
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.hidden {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}
